<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net> <!--define log-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value= "G:\Logs\Log.txt"/>
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value= "G:\Logs\RollingLog.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="60KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Counter}) - Level - %level,  Message - %10.70 %message %newline UTC Date - %utcdate %newline Date - %date{ABSOLUTE} %newline Timestamp - %timestamp %newline User - %username %newline Method - [%logger.%method : %line] %newline  %newline" />
        <!--Identitiy - %identity, %newline Location - %location-->
      </layout>
      <!--can filter out specific data to the log-->
      <!--<filter type="log4net.Filter.LevelRangeFilter"> 
      <levelMin value="INFO" />
      <levelMax value="ERROR" />
      </filter>
        <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
         <filter type="log4net.Filter.StringMatchFilter">
         <stringToMatch value="AMA" />
      </filter>
  ​    <filter type="log4net.Filter.DenyAllFilter" />-->
      <!--end of filters-->
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!--<appender-ref ref="FileAppender" />-->
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>